#return_to_bottom {
  position: fixed;
  z-index: 10;
  min-width: 0;
  display: block;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  right: 43px;
  bottom: 15px;
}

#return_to_bottom.activated .elevator:before {
  color: #EDC707;
}

#return_to_bottom_bar {
  position: fixed;
  right: 0;
  left: 0;
  height: 5px;
  bottom: 0;
  background: #EDC707;
}
